@charset "UTF-8";
@font-face {
  font-family: 'Bahnschrift';
  font-weight: 400;
  src: url("../fonts/Bahnschrift.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
  box-sizing: border-box;
}

button,
input,
textarea {
  outline: none !important;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

/*css оформление скроллбара*/
div.catalog-table-content::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

div.catalog-table-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  -webkit-transition: all 0.4s;
  /* Safari */
  transition: all 0.4s;
}

html {
  height: 100%;
}

body {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  color: #000000;
}

body.fixed-body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.4s;
}

a:hover {
  color: #535050;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.crypt__title {
  font-size: 84px;
  line-height: 84px;
  font-weight: 400;
}

[data-aos="title-two-animate"] {
  transform: translateY(70px);
  opacity: 0;
}
[data-aos="title-two-animate"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.crypt__text {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .crypt__title {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 992px) {
  .crypt__text {
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .crypt__title {
    font-size: 31px;
    line-height: 31px;
  }
}
@media screen and (max-width: 500px) {
  .crypt__title {
    font-size: 21px;
    line-height: 31px;
  }

  .crypt__text {
    font-size: 10px;
    line-height: 14px;
  }
}
.marketing {
  height: 1117px;
  position: relative;
}
.marketing__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
}
.marketing__bg::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.55);
}
.marketing__bg::before {
  content: '';
  position: absolute;
  background-image: url(../img/vector1.png), url(../img/vector2.png), url(../img/vector3.png), url(../img/vector4.png), url(../img/vector5.png), url(../img/vector6.png);
  background-position: left -50px bottom 600px, left -50px bottom 560px, left -50px bottom 530px, left -50px bottom 485px, left -50px bottom 400px, left -50px bottom 330px;
  background-repeat: no-repeat;
  background-size: 327px 65px, 302px 20px, 343px 20px, 444px 45px, 516px 87px, 506px 60px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.marketing__bg img {
  width: auto;
  height: 100%;
}
.marketing .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.8);
}
.marketing .header__img {
  display: block;
  max-width: 169px;
}
.marketing .header__img img {
  width: 100%;
}
.marketing .header__btn {
  display: flex;
  align-items: center;
}
.marketing .header__btn-ru, .marketing .header__btn-eng {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: unset;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}
.marketing .header__btn-ru:hover, .marketing .header__btn-eng:hover {
  color: #b8b5b5;
}
.marketing .header__btn-line {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  margin-right: 0px;
  margin-left: 0px;
  color: #ffffff;
}
.marketing__desc {
  padding-top: 150px;
  float: right;
  position: relative;
  z-index: 4;
  max-width: 700px;
}
.marketing__title {
  font-size: 84px;
  line-height: 84px;
  text-shadow: 0px 18px 47px rgba(0, 0, 0, 0.44);
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.marketing [data-aos="desc-animate"] {
  transform: translateY(50px);
  opacity: 0;
}
.marketing [data-aos="desc-animate"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
.marketing__texts {
  margin-top: 25px;
}
.marketing__text {
  font-size: 26.8px;
  line-height: 26px;
  color: #ffffff;
  position: relative;
}
.marketing__text:not(:last-child) {
  margin-bottom: 25px;
}

.video {
  margin-top: -190px;
  padding-bottom: 234px;
  position: relative;
  z-index: 6;
}
.video__inner {
  text-align: center;
  width: 100%;
  height: 540px;
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}
.video__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 250px);
  left: 0;
  top: 0;
  background-image: url(../img/video1.png), url(../img/video2.png), url(../img/video3.png), url(../img/video4.png), url(../img/video5.png), url(../img/video6.png), url(../img/video7.png), url(../img/video8.png), url(../img/video9.png);
  background-position: top 81% left 41%, top 84% left 43%, top 84% left 46%, top 78% left 47.5%, top 64% left 49.5%, top 74% left 50.5%, top 83% left 54.5%, top 79% left 55%, top 77% left 57%;
  background-repeat: no-repeat;
}
.video__inner .youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 5;
}
.video__inner .youtube .play {
  background: url("../img/youtube-play-btn.png") no-repeat;
  background-position: 0 -50px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
}
.video__inner .youtube:hover .play {
  background-position: 0 0;
}
.video__inner iframe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}
.video__desc-mob {
  margin-top: 15px;
  max-width: 455px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}
.video__text-mob {
  font-size: 17.8px;
  line-height: 17px;
  font-weight: 300;
  text-align: start;
}
.video__text-mob:not(:last-child) {
  margin-bottom: 8px;
}

.connection {
  background-image: linear-gradient(9deg, #bd995e 17%, #ecdfc7 82%);
}
.connection__inner {
  padding: 300px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connection__title {
  font-size: 53px;
  line-height: 52px;
  font-weight: 700;
}
.connection__text {
  font-weight: 300;
  margin-top: 25px;
}
.connection .work__text {
  max-width: 440px;
}
.connection__btn {
  width: 431px;
  height: 75px;
  font-size: 35px;
  background-color: #ffffff;
  border: none;
  flex-shrink: 0;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 15px;
}
.connection__btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.promotion {
  padding-top: 140px;
  padding-bottom: 300px;
}
.promotion__desc {
  max-width: 1105px;
  margin-right: auto;
  margin-left: auto;
}
.promotion__title {
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(175deg, #271203 15%, #cfab61 84%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  padding: 52px 10px;
}
.promotion__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px 165px;
  margin-top: 175px;
  position: relative;
}
.promotion__items::before {
  content: '';
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2px;
  height: calc(100% + 150px);
  background-color: #000000;
}
.promotion__item {
  position: relative;
  min-height: 230px;
  padding: 90px 93px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
}
.promotion__item:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.promotion [data-aos="translate-animate"] {
  transform: translateY(-80px);
  opacity: 0;
}
.promotion [data-aos="translate-animate"].aos-animate {
  transform: translateY(0px);
  opacity: 1;
}
.promotion__text {
  font-size: 21px;
  line-height: 31px;
  color: #ffffff;
  position: relative;
  z-index: 4;
}
.promotion__img {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.promotion__img img {
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  z-index: 2;
}
.info::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/info_b.png), url(../img/info_vertical.png), url(../img/info_vertical2.png), url(../img/market_vector.png), url(../img/market_vector2.png);
  background-position: top 17px right 317px, top 45px left 0, top 182px left 0, right 0 bottom 195px, right 0 bottom 165px;
  background-repeat: no-repeat;
  -webkit-filter: invert(80%);
}
.info__inner {
  padding-top: 420px;
  padding-bottom: 420px;
}
.info__title {
  text-align: center;
  position: relative;
  padding-bottom: 77px;
}
.info__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 55px;
  background-color: #000000;
}
.info [data-aos="title-animate"] {
  transform: translateY(-70px);
  opacity: 0;
}
.info [data-aos="title-animate"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
.info__text {
  line-height: 52px;
  font-weight: 300;
  padding-top: 40px;
  position: relative;
  padding-bottom: 120px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.info__text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 55px;
  background-color: #000000;
}
.info [data-aos="text-animate"] {
  transform: translateY(70px);
  opacity: 0;
}
.info [data-aos="text-animate"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.market {
  position: relative;
  padding-top: 145px;
  padding-bottom: 360px;
  box-shadow: 0px 102px 72px 60px rgba(0, 0, 0, 0.46);
}
.market__inner {
  position: relative;
  z-index: 5;
}
.market__title {
  text-align: center;
  max-width: 1030px;
  margin-right: auto;
  margin-left: auto;
}
.market__img {
  margin-top: 45px;
}
.market__img img {
  width: 100%;
}
.market__width {
  position: absolute;
  bottom: -65px;
  right: 0;
  transform: translate(0%, 0);
  z-index: 10;
  width: 60%;
}
.market__desc {
  background-color: #ffffff;
  margin-left: auto;
  padding: 0 0 85px 100px;
}
.market__text {
  font-weight: 300;
  line-height: 53px;
  text-transform: uppercase;
  max-width: 800px;
  margin-right: auto;
}

.benefits {
  padding-top: 320px;
  padding-bottom: 255px;
  position: relative;
  overflow: hidden;
}
.benefits::before {
  content: '';
  position: absolute;
  top: 80px;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
  -webkit-filter: invert(90%);
  background-image: url(../img/benefits_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.benefits__inner {
  display: flex;
  align-items: center;
  position: relative;
}
.benefits [data-aos="left-animate"] {
  transform: translateX(-100px);
  opacity: 0;
}
.benefits [data-aos="left-animate"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}
.benefits [data-aos="right-animate"] {
  transform: translateX(100px);
  opacity: 0;
}
.benefits [data-aos="right-animate"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}
.benefits__img {
  position: relative;
}
.benefits__img img {
  position: relative;
  z-index: 6;
}
.benefits__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: -65px;
  bottom: -65px;
  background: linear-gradient(58deg, rgba(213, 177, 100, 0.99) 7%, #251103 92%);
  border-radius: 50%;
}
.benefits__right {
  margin-left: 145px;
}
.benefits__title {
  font-weight: 700;
  max-width: 700px;
}
.benefits__desc {
  max-width: 870px;
  margin-top: 30px;
}
.benefits__text {
  font-weight: 300;
}
.benefits__text span {
  font-weight: 700;
}

.map {
  position: relative;
  overflow: hidden;
}
.map::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.map__inner {
  padding-top: 200px;
  padding-bottom: 320px;
  position: relative;
}
.map__img img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-filter: invert(80%);
}
.map__title-border {
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
}
.map__title {
  position: relative;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(175deg, #271203 15%, #cfab61 84%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  padding: 30px 0;
}
.map__social-network {
  margin-top: 200px;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 365px;
}
.map__social {
  display: flex;
  align-items: center;
}
.map__social:not(:last-child) {
  margin-bottom: 70px;
}
.map__social-img {
  width: 50px;
}
.map__social-img img {
  width: 100%;
}
.map__social:hover {
  color: #535050;
}
.map__social:hover img {
  opacity: 0.6;
}
.map__social-desc {
  display: block;
  margin-left: 36px;
  font-size: 45px;
  font-weight: 500;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 5;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.footer__desc {
  text-align: center;
}
.footer__img {
  max-width: 169px;
  display: block;
}
.footer__img img {
  width: 100%;
}
.footer__year {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  display: block;
}

@media screen and (max-width: 3700px) {
  .market__width {
    width: 64%;
  }
}
@media screen and (max-width: 2400px) {
  .market__width {
    width: 70%;
  }
}
@media screen and (max-width: 2095px) {
  .benefits::before {
    background-size: 100% auto;
    top: 30px;
  }
}
@media screen and (max-width: 2000px) {
  .marketing__bg::before {
    display: none;
  }

  .market__width {
    width: 75%;
  }
}
@media screen and (max-width: 1650px) {
  .benefits::before {
    top: 0;
  }

  .market__width {
    width: 80%;
  }
}
@media screen and (max-width: 1530px) {
  .container {
    width: 100%;
  }

  .marketing::before {
    background-position: left -120px bottom 290px, left -120px bottom 245px, left -120px bottom 220px, left -120px bottom 175px, left -120px bottom 93px, left -120px bottom 19px;
    display: none;
  }

  .promotion {
    padding-bottom: 140px;
  }

  .info::before {
    background-image: url(../img/info_b.png), url(../img/info_vertical.png), url(../img/info_vertical_mob.png), url(../img/market_vector.png), url(../img/market_vector2_mob.png);
    background-position: top 0 right 0, top 45px left 0, top 125px left 0, right 0 bottom 109px, right 0 bottom 93px;
    background-size: 215px 448px, 413px 96px, 105px 37px, 359px 90px, 57px 39px;
  }
  .info__inner {
    padding-top: 280px;
    padding-bottom: 280px;
  }
}
@media screen and (max-width: 1400px) {
  .video {
    padding-bottom: 120px;
  }
  .video__inner {
    max-width: 800px;
    max-height: 400px;
  }
  .video__inner::after {
    display: none;
  }

  .connection .work__inner {
    padding: 300px 100px;
  }
  .connection .work__btn {
    margin-left: 15px;
  }

  .promotion__items {
    gap: 65px 85px;
  }
  .promotion__item {
    padding: 90px 45px 30px;
  }

  .benefits__img img {
    max-width: 400px;
  }
  .benefits__right {
    margin-left: 90px;
  }
}
@media screen and (max-width: 1350px) {
  .connection__title {
    font-size: 45px;
    line-height: 45px;
  }
  .connection__btn {
    width: 300px;
    height: 65px;
  }

  .market {
    padding-bottom: 270px;
  }
  .market__text {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .marketing {
    max-height: 750px;
  }
  .marketing__mob::before {
    display: block;
  }
  .marketing__desc {
    padding-top: 90px;
    max-width: 370px;
  }
  .marketing__title {
    font-size: 45px;
    line-height: 45px;
  }
  .marketing__text {
    font-size: 17.8px;
    line-height: 17px;
  }
  .marketing__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .connection__inner {
    padding: 100px 130px;
  }
  .connection .work__inner {
    padding: 100px 45px;
  }

  .promotion {
    padding-bottom: 75px;
  }
  .promotion__desc {
    max-width: 660px;
  }
  .promotion__title {
    padding: 10px 0;
  }
  .promotion__item {
    padding: 90px 20px 30px;
  }

  .info__inner {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .market {
    padding-bottom: 145px;
  }
  .market__title {
    max-width: 550px;
  }
  .market__desc {
    padding: 0 0 50px 35px;
  }
  .market__text {
    font-size: 21px;
    line-height: 31px;
  }

  .benefits__title {
    max-width: 375px;
  }
  .benefits__text {
    font-size: 25px;
    line-height: 25px;
  }

  .map__title-border {
    max-width: 100%;
  }
  .map__title {
    border: none;
    padding: 0;
  }
  .map__inner {
    padding-top: 130px;
    padding-bottom: 180px;
  }
  .map__social-network {
    margin-top: 95px;
  }
  .map__social:not(:last-child) {
    margin-bottom: 45px;
  }
  .map__social-desc {
    font-size: 21px;
  }
}
@media screen and (max-width: 992px) {
  .marketing {
    max-height: 565px;
  }
  .marketing__texts {
    display: none;
  }
  .marketing .header__img {
    display: block;
    max-width: 132px;
  }
  .marketing .header__btn-ru, .marketing .header__btn-eng, .marketing .header__btn-line {
    font-size: 16px;
  }

  .video {
    margin-top: -140px;
    padding-bottom: 120px;
  }
  .video__mob {
    padding-bottom: 120px;
    position: relative;
    box-shadow: 0px 45px 38px 2px rgba(0, 0, 0, 0.4);
  }
  .video__mob::before {
    content: '';
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    border-right: 45px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 45px solid transparent;
    border-top: 45px solid #ffffff;
  }
  .video__inner {
    max-width: 510px;
    max-height: 238px;
  }
  .video__desc-mob {
    display: block;
  }

  .connection__inner {
    padding: 100px 150px;
  }
  .connection .work__inner {
    padding: 100px 145px;
  }
  .connection__title {
    font-size: 24px;
    line-height: 24px;
  }
  .connection__text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
  }
  .connection .work__text {
    max-width: 195px;
  }
  .connection__btn {
    max-width: 196px;
    height: 34px;
    font-size: 16px;
  }

  .promotion {
    padding-top: 45px;
  }
  .promotion__items {
    gap: 55px;
    margin-top: 125px;
  }
  .promotion__item {
    padding: 60px 45px 20px;
    min-height: 140px;
  }
  .promotion__text {
    font-size: 13px;
    line-height: 19px;
  }
  .promotion__img {
    max-width: 85px;
    top: -30px;
  }

  .info::before {
    background-image: url(../img/info_b.png), url(../img/info_vertical.png), url(../img/info_vertical_mob.png), url(../img/market_vector.png), url(../img/market_vector2_mob.png);
    background-position: top 220px left -1117px, top 45px left 0, top 118px left 0, right 0 bottom 107px, right 0 bottom 90px;
    background-size: 215px 448px, 413px 90px, 105px 37px, 359px 78px, 57px 37px;
  }
  .info__inner {
    padding-top: 230px;
    padding-bottom: 230px;
  }
  .info__desc {
    max-width: 100%;
  }
  .info__title {
    padding-bottom: 65px;
  }
  .info__title::before {
    height: 32px;
    left: 50%;
  }
  .info__text {
    line-height: 26px;
    padding-bottom: 75px;
  }
  .info__text::before {
    height: 32px;
    left: 50%;
  }
  .info .market {
    padding-bottom: 140px;
  }
  .info .market__inner {
    padding-top: 86px;
  }
  .info .market__width {
    bottom: -30px;
    width: 70%;
  }
  .info .market__desc {
    padding: 0 30px 0;
  }
  .info .market__text {
    font-size: 31px;
    line-height: 42px;
    max-width: 500px;
  }

  .market {
    box-shadow: 0px 102px 72px 10px rgba(0, 0, 0, 0.46);
    padding-top: 45px;
  }
  .market__img {
    margin-top: 60px;
  }

  .benefits {
    padding-top: 280px;
    padding-bottom: 45px;
  }
  .benefits::before {
    height: 460px;
    top: 160px;
  }
  .benefits__inner {
    display: block;
  }
  .benefits__right {
    margin-left: 0px;
    margin-top: 65px;
  }
  .benefits__left {
    width: 100%;
  }
  .benefits__img {
    max-width: 311px;
    margin-right: auto;
    margin-left: auto;
  }
  .benefits__img img {
    max-width: 311px;
  }
  .benefits__img::before {
    bottom: -40px;
    right: -40px;
  }
  .benefits__desc {
    max-width: 100%;
  }
  .benefits__text {
    font-size: 18px;
    line-height: 18px;
  }

  .map__inner {
    padding-bottom: 170px;
  }

  .footer__inner {
    padding: 20px 0;
  }
  .footer__img {
    max-width: 132px;
  }
  .footer__year {
    font-size: 21px;
  }
}
@media screen and (max-width: 870px) {
  .marketing::before {
    display: none;
  }
  .marketing__mob::before {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .connection__inner {
    padding: 100px 130px;
  }
  .connection .work__inner {
    padding: 100px 130px;
  }
}
@media screen and (max-width: 768px) {
  .marketing {
    max-height: 490px;
  }
  .marketing .header__img {
    max-width: 100px;
  }

  .video {
    margin-top: -50px;
    padding-bottom: 200px;
  }
  .video__mob {
    padding-bottom: 0;
    box-shadow: none;
  }
  .video__mob::before {
    display: none;
  }
  .video__inner {
    max-width: 350px;
    max-height: 190px;
  }
  .video__inner::after {
    display: block;
    background-image: url(../img/video_mob1.png), url(../img/video_mob2.png), url(../img/video_mob3.png), url(../img/video_mob4.png), url(../img/video_mob5.png), url(../img/video_mob6.png), url(../img/video_mob7.png), url(../img/video_mob8.png), url(../img/video_mob9.png), url(../img/video_mob10.png), url(../img/video_mob11.png), url(../img/video_mob12.png);
    background-position: bottom 14px left 38%, bottom 17px left 41%, bottom 5px left 41%, bottom 0px left 43.5%, bottom 10px left 47.5%, left 49.5% bottom 23px, left 52.5% bottom 28px, left 53.5% bottom 16px, left 60.5% bottom 0px, left 60% bottom 19px, left 63% bottom 20px, left 64% bottom 30px;
    height: calc(100% + 50px);
  }
  .video__desc-mob {
    margin-top: 65px;
  }

  .connection__inner {
    padding: 50px 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    text-align: center;
  }
  .connection .work__inner {
    padding: 50px 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    text-align: center;
  }
  .connection__title {
    font-size: 18px;
    line-height: 18px;
  }
  .connection .work__text {
    max-width: 100%;
  }
  .connection__btn {
    margin-top: 30px;
    margin-left: 0;
  }
  .connection .work__btn {
    margin-top: 30px;
    margin-left: 0;
  }

  .promotion {
    padding-bottom: 10px;
  }
  .promotion__desc {
    max-width: 500px;
  }
  .promotion__items {
    grid-template-columns: 1fr;
    gap: 35px;
    margin-top: 60px;
  }
  .promotion__items::before {
    display: none;
  }
  .promotion__item {
    text-align: center;
  }

  .map__inner {
    padding-bottom: 130px;
  }
  .map__social:not(:last-child) {
    margin-bottom: 15px;
  }
  .map__social-network {
    margin-top: 35px;
    max-width: 230px;
  }
  .map__social-img {
    width: 25px;
  }
  .map__social-desc {
    font-size: 14px;
    margin-left: 16px;
  }

  .info {
    position: relative;
  }
  .info::before {
    background-image: url(../img/info_b.png), url(../img/info_vertical.png), url(../img/info_vertical_mob.png), url(../img/market__vector2__mob2.png), url(../img/market_vector.png);
    background-position: top 5px right 9px, top 35px left 0, top 59px left 0, right 0 bottom 37px, right 0 bottom 40px;
    background-size: 60px 126px, 120px 29px, 38px 12px, 48px 11px, 132px 30px;
  }
  .info__inner {
    padding-top: 90px;
    padding-bottom: 50px;
    padding-right: 0;
  }
  .info__desc {
    margin-right: auto;
    margin-left: auto;
  }
  .info__title {
    text-align: center;
  }
  .info__title::before {
    left: 50%;
  }
  .info__text::before {
    left: 50%;
  }

  .market {
    padding-bottom: 120px;
  }
  .market__img {
    margin-top: 30px;
  }
  .market__width {
    width: 70%;
    bottom: -25px;
  }
  .market__desc {
    padding: 0 10px 25px;
  }
  .market__text {
    font-size: 10px;
    line-height: 20px;
  }

  .benefits::before {
    height: 400px;
  }
  .benefits__title {
    max-width: 270px;
  }

  .footer__img {
    max-width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .marketing__bg {
    transform: translate(-30%, 0);
  }
  .marketing__desc {
    display: block;
    padding-top: 220px;
    padding-bottom: 0px;
    width: 100%;
    float: unset;
    max-width: 100%;
  }
  .marketing__title {
    font-size: 30px;
    line-height: 30px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 265px;
  }
  .marketing__texts {
    display: none;
  }
  .marketing .header__img {
    max-width: 47px;
  }
  .marketing .header__btn-ru, .marketing .header__btn-eng, .marketing .header__btn-line {
    font-size: 12px;
  }

  .video {
    margin-top: -35px;
    padding-bottom: 155px;
  }
  .video__inner {
    max-width: 350px;
    max-height: 150px;
  }
  .video__desc-mob {
    max-width: 100%;
  }
  .video__text-mob {
    font-size: 12px;
    line-height: 12px;
  }
  .video__text-mob:not(:last-child) {
    margin-bottom: 5px;
  }

  .connection__btn {
    max-width: 170px;
    height: 25px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
  }
  .connection .work__btn {
    max-width: 170px;
    height: 25px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
  }

  .promotion__desc {
    max-width: 295px;
  }
  .promotion__title {
    padding: 10px 5px;
  }
  .promotion__items {
    margin-top: 55px;
  }
  .promotion__item {
    padding: 35px 30px 10px;
    min-height: 91px;
  }
  .promotion__img {
    max-width: 55px;
    top: -20px;
  }

  .info__title {
    padding-bottom: 21px;
  }
  .info__title::before {
    width: 1px;
    height: 14px;
  }
  .info__text {
    font-size: 14px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .info__text::before {
    width: 1px;
    height: 14px;
  }

  .market {
    box-shadow: 0px 10px 72px 10px rgba(0, 0, 0, 0.46);
    padding-top: 20px;
    padding-bottom: 90px;
  }
  .market__title {
    max-width: 255px;
  }
  .market__width {
    bottom: -10px;
    width: 90%;
  }
  .market__desc {
    padding: 0 0 10px 0;
  }
  .market__text {
    font-size: 12px;
    line-height: 14px;
  }

  .benefits {
    padding-top: 170px;
  }
  .benefits::before {
    top: 30px;
    height: 300px;
  }
  .benefits__bg {
    top: 0px;
  }
  .benefits__bg img {
    top: 15px;
  }
  .benefits__img {
    max-width: 191px;
  }
  .benefits__img img {
    max-width: 191px;
  }
  .benefits__img::before {
    bottom: -25px;
    right: -25px;
  }
  .benefits__right {
    margin-top: 50px;
  }
  .benefits__desc {
    margin-top: 30px;
  }
  .benefits__title {
    max-width: 180px;
    line-height: 21px;
  }
  .benefits__text {
    padding-top: 7px;
    font-size: 12px;
    line-height: 12px;
  }

  .map__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .map__desc {
    padding-left: 0;
  }
  .map__social-network {
    max-width: 125px;
  }
  .map__social-img {
    width: 16px;
  }
  .map__social-desc {
    font-size: 12px;
  }

  .footer__inner {
    padding: 5px 0;
  }
  .footer__img {
    max-width: 47px;
  }
  .footer__year {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .market__width {
    width: 93%;
  }
}
@media screen and (max-width: 370px) {
  .market__width {
    width: 88%;
  }
  .market__text {
    font-size: 10px;
    line-height: 14px;
  }
}
